<!DOCTYPE html>
<html>
<head>
    <title>Login - Chat App</title>
        <link rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
 
<div class="login-container">
    <h2>Chat App</h2>
    
    <div id="message"></div>
    
    <input id="username" type="text" placeholder="Username" autocomplete="off">
    <input id="password" type="password" placeholder="Password">
    
    <button class="btn-register" onclick="register()">Create Account</button>
    <button class="btn-login" onclick="login()">Login</button>
</div>
 
<script src="https://cdn.socket.io/4.0.1/socket.io.js"></script>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
 
</body>
</html>
